<div class="callout callout_primary">
    <div class="grid grid_1x2">
      <div class="callout_content">
        <h2 class="callout_heading">Ready to Get Started</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Suscipit molestias, non vitae recusandae nam reprehenderit sequi, facere reiciendis atque, minima nobis tenetur architecto sit laborum incidunt deleniti aliquam ad sapiente!
   
        </p>
      </div>
      <a href="" class="btn btn_secondary btn_stretched">Get Started</a>
    </div>
   </div>