<div class="collapsible collapsible_expanded">
    <header class="collapsible_header">
      <h2 class="collapsible_heading">Item 1</h2>
  
        <img  class="icon icon_white collapsible_chevron" src="icons/chevron.svg" alt="">
          
     
    </header>
    <div class="collapsible_content">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem cum praesentium tempore officia error magni. Maiores dolore molestiae asperiores dolorem minima, porro ut quod nam reprehenderit, ea magni inventore repudiandae.
    </div>
  </div>