<section class="block container block_domain">
    <header class="block_header">
      <h2>Starting at $9 per month</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto, repellat?
      </p>
    </header>
    <div class="input_group">
      <input type="text" class="input" placeholder="Enter domain name">
      <button class="btn btn_accent">     
        <svg class="icon icon_white">
        <use xlink:href="icons/sprite.svg#search"></use>
      </svg>Search</button>
  </div>
  <ul class="list block_domain_prices">
    <li><span class="badge_small badge badge_secondary">.com $9 </span></li>
    <li>.sg $10</li>
    <li>.space $11</li>
    <li>.info $14</li>
    <li>.net $10</li>
    <li>.xyz $10</li>
  </ul>
  </section>