<section class="block container">
    <header class="block_header">
      <h2>Host on the Cloud to Keep Growing</h2>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Sit, odio.</p>
    </header>
    <article class="grid grid_1x2 feature">
      <div>
        <span class="icon_container">
          <svg class="icon icon_primary">
              <use xlink:href="icons/sprite.svg#easy"></use>
            </svg>
        </span>
        <h3 class="feature_heading">Supper Easy to Use</h3>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque itaque voluptatem at ab ipsum debitis? Ex similique ad tempora rem omnis laborum, doloremque quidem qui enim necessitatibus deserunt? Asperiores, sunt!</p>
      <a href="#" class="link">Learn More</a>
      </div>
    
      <picture>
        <source type="images/webp" srcset="images/easy@x1.webp 1x, images/easy@x2.webp 2x">
        <source type="images/jpg" srcset="images/easy@x1.jpg 1x, images/easy@x2.jpg 2x">
        <img class="feature_image" src="images/easy@2x.jpg" alt="">
      </picture>
    
    </article>
  </section>
  
  <section class="block container">
  
    
    <article class="grid grid_1x2 feature">
      <picture>
        <source type="images/webp" srcset="images/fast@x1.webp 1x, images/fast@x2.webp 2x">
        <img class="feature_image" src="images/fast.jpg" alt="">
      </picture>
      <div>
        <span class="icon_container">
          <svg class="icon icon_primary">
              <use xlink:href="icons/sprite.svg#easy"></use>
            </svg>
        </span>
        <h3 class="feature_heading">Supper Easy to Use</h3>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque itaque voluptatem at ab ipsum debitis? Ex similique ad tempora rem omnis laborum, doloremque quidem qui enim necessitatibus deserunt? Asperiores, sunt!</p>
      <a href="#" class="link">Learn More</a>
      </div>
    
  
    
    </article>
  </section>
  
  
  <section class="block container">
    
    <article class="grid grid_1x2 feature">
      <div>
        <span class="icon_container">
          <svg class="icon icon_primary">
              <use xlink:href="icons/sprite.svg#easy"></use>
            </svg>
        </span>
        <h3 class="feature_heading">Supper Easy to Use</h3>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque itaque voluptatem at ab ipsum debitis? Ex similique ad tempora rem omnis laborum, doloremque quidem qui enim necessitatibus deserunt? Asperiores, sunt!</p>
      <a href="#" class="link">Learn More</a>
      </div>
    
      <picture>
        <source type="images/webp" srcset="images/wordpress@x1.webp 1x, images/wordpress@x2.webp 2x">
        <source type="images/jpg" srcset="images/wordpress@x1.jpg 1x, images/wordpress@x2.jpg 2x">
        <img class="feature_image" src="images/wordpress@2x.jpg" alt="">
      </picture>
    
    </article>
  </section>
  
  <section class="block container">
  
    
    <article class="grid grid_1x2 feature">
      <picture>
        <source type="images/webp" srcset="images/support@x1.webp 1x, images/support@x2.webp 2x">
        <img class="feature_image" src="images/support.png" alt="">
      </picture>
      <div>
        <span class="icon_container">
          <svg class="icon icon_primary">
              <use xlink:href="icons/sprite.svg#easy"></use>
            </svg>
        </span>
        <h3 class="feature_heading">Supper Easy to Use</h3>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eaque itaque voluptatem at ab ipsum debitis? Ex similique ad tempora rem omnis laborum, doloremque quidem qui enim necessitatibus deserunt? Asperiores, sunt!</p>
      <a href="#" class="link">Learn More</a>
      </div>
    
    </article>
  </section>