<footer class="block block_dark footer">
    <div class="container grid footer_sections">
      <section class="collapsible collapsible_expanded footer_section">
        <header class="collapsible_header">
          <h2 class="collapsible_heading footer_heading">Products</h2>
      
            <img  class="icon icon_white collapsible_chevron" src="icons/chevron.svg" alt="">
              
         
        </header>
        <div class="collapsible_content">
          <ul class="list">
            <li class="list_item">WordPress Hosting</li>
            <li class="list_item">Free Automated WordPress</li>
            <li class="list_item">Migrations</li>
            <li class="list_item">Domain Names</li>
            <li class="list_item">Monthly Web Hosting</li>
          </ul>
        </div>
      </section>


      <section class="collapsible footer_section">
        <header class="collapsible_header">
          <h2 class="collapsible_heading footer_heading">compnay</h2>
      
            <img  class="icon icon_white collapsible_chevron" src="icons/chevron.svg" alt="">
              
         
        </header>
        <div class="collapsible_content ">
          <ul class="list">
            <li class="list_item">About</li>
            <li class="list_item">Affilates</li>
            <li class="list_item">Blog</li>
            <li class="list_item">Careers</li>
            <li class="list_item">Community</li>
            <li class="list_item">News</li>
            <li class="list_item">Green Hosting</li>
          </ul>
        </div>
      </section>


      <section class="collapsible footer_section">
        <header class="collapsible_header">
          <h2 class="collapsible_heading footer_heading">support</h2>
      
            <img  class="icon icon_white collapsible_chevron" src="icons/chevron.svg" alt="">
              
         
        </header>
        <div class="collapsible_content">
          <ul class="list">
            <li class="list_item">Contacnt</li>
            <li class="list_item">Knowledge Base</li>
            <li class="list_item">Forums</li>
            <li class="list_item">System Status</li>
            <li class="list_item">Web Hosting</li>
            <li class="list_item">DreamCompute</li>
          </ul>
        </div>
      </section>

      <section class="collapsible footer_section">
        <header class="collapsible_header">
          <h2 class="collapsible_heading footer_heading">Domains</h2>
      
            <img  class="icon icon_white collapsible_chevron" src="icons/chevron.svg" alt="">
              
         
        </header>
        <div class="collapsible_content">
          <ul class="list">
            <li class="list_item">Domain Checker</li>
            <li class="list_item">Domain Transfer</li>
            <li class="list_item">Free Domain</li>
            <li class="list_item">XYZ Doain</li>
            <li class="list_item">Cheap SSL Certificate</li>
          </ul>
        </div>
      </section>


      <section class="footer_brand">
          <img src="images/logo.svg" alt="">
          <p class="footer_copyright">Copyright 2022 COKER</p>
      </section>

    </div>
  </footer>


  <script src="js/main.js"></script>