<section class="block block_dark interface block_skewed_right">
    <header class="block_header ">
      <h2>UserFriendly Control Panel</h2>
    </header>
    <article class="grid grid_1x2 container">
      
      <picture>

        <img class="feature_image" src="images/interface.webp" alt="">
      </picture>


      <div class= "grid grid_1x3 interface_grid">
  
          <span>
            <svg class="icon icon_primary">
                <use xlink:href="icons/sprite.svg#settings"></use>
              </svg>
            
          </span>

          <div >
            <h3 class="interface_heading">Easy Start & Manage Updates</h3>
            <p>Our cloud plans include easy onboarding for new and existing sites and managed Wordpress and WooCommerce auto-updates</p>
          </div>
          <span>
            <svg class="icon icon_primary">
                <use xlink:href="icons/sprite.svg#growth"></use>
              </svg>
            
          </span>

          <div >
            <h3 class="interface_heading">Staging, Git & WP-CLI</h3>
            <p>We make your Wordpress and WooCommerce development low easier with a convenient staging too and Git and WP-CLI integration</p>
          </div>
          <span>
            <svg class="icon icon_primary">
                <use xlink:href="icons/sprite.svg#wordpress"></use>
              </svg>
            
          </span>

          <div >
            <h3 class="interface_heading">Dynamic Caching & More</h3>
            <p>Speed up and your Wordpressand Woo site with our SG Optimizer plugin through smart dynamic caching and multiple other performance optimizations</p>
          </div>
      
      </div>
    

     
    </article>
  </section>
