   <ul class="list list_tick">
       <li class="list_item">item 1</li>
       <li class="list_item">item 2</li>
       <li class="list_item">item 3</li>
   </ul>
   <ul class="list">
    <li class="list_item">Unlimited Websites</li>
    <li class="list_item">Unlimited Bandwidth</li>
    <li class="list_item">100 GB SSD Storage</li>
    <li class="list_item">3GB RAM</li>
    <li class="list_item hidden_item"></li>
  </ul>

   <ul class="list">
    <li class="list_item">Unlimited Websites</li>
    <li class="list_item">Unlimited Bandwidth</li>
    <li class="list_item">100 GB SSD Storage</li>
    <li class="list_item">3GB RAM</li>
    <li class="list_item hidden_item"></li>
  </ul>