<section class="block container block_plans">
  <div class="grid grid_1x3">
    <div class="plans card">
      <header class="plan_card_header_secondary">
        <p class="plan_text_regular">Entry</p>
       
          <span class="plan_text_big">$14</span>
          <span class="plan_text_small" >/month</span>
          <span class="badge_small badge badge_secondary">10% OFF</span>
        
        <p class="plan_text_small">Easy Start On the Cloud</p>
      </header>
      
      <div class="plan_card_body">
        <ul class="list list_tick">
          <li class="list_item">Unlimited Websites</li>
          <li class="list_item">Unlimited Bandwidth</li>
          <li class="list_item">100 GB SSD Storage</li>
          <li class="list_item">3GB RAM</li>
          <li class="list_item hidden_item"></li>
        </ul>
      <button class="btn btn_block btn_secondary btn_outline">Buy Now</button>
      </div>  
    </div>


    <div class="plans plan_popular card">
      <header class="plan_card_header_primary">
        <p class="plan_text_regular">Business</p>
        <span class="plan_text_big">$24</span>
        <span class="plan_text_small" >/month</span>
        <span class="badge_small badge badge_primary">20% OFF</span>
        <p class="plan_text_small">Easy Start On the Cloud</p>
      </header>
      <div class="plan_card_body popular_body ">
        <ul class="list list_tick">
          <li class="list_item">Unlimited Websites</li>
          <li class="list_item">Unlimited Bandwidth</li>
          <li class="list_item">100 GB SSD Storage</li>
          <li class="list_item">3GB RAM</li>
          <li class="list_item">2 CPU Cores</li>
        </ul>
      <button class="btn btn_block btn_secondary btn_outline">Buy Now</button>
      </div>  
    </div>


    <div class="plans card">
      <header class="plan_card_header_secondary">
        <p class="plan_text_regular">Business Plus</p>
        <span class="plan_text_big">$54</span>
        <span class="plan_text_small" >/month</span>
        <span class="badge_small badge badge_secondary">10% OFF</span>
        <p class="plan_text_small">Easy Start On the Cloud</p>
      </header>
      <div class="plan_card_body">
        <ul class="list list_tick">
          <li class="list_item">Unlimited Websites</li>
          <li class="list_item">Unlimited Bandwidth</li>
          <li class="list_item">100 GB SSD Storage</li>
          <li class="list_item">3GB RAM</li>
          <li class="list_item">2 CPU Cores</li>
      </ul>
      <button class="btn btn_block btn_secondary btn_outline">Buy Now</button>
      </div>  
    </div>
  </div>
  
</section>