<div class="plans testimonial">
    <div class="grid grid_1x2">
      <div class="testimonial_image_container">
        <img class="testimonial_image" src="images/testimonial.jpg" alt="happy smiling customer"/>
        <span class="icon_container testimonial_icon icon_container_accent">
          <svg class="icon_smaller icon_white">
              <use xlink:href="icons/sprite.svg#quotes"></use>
            </svg>
        </span>
      </div>
      <blockquote class="quote">
        <p class="quote_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero vel ad recusandae labore rerum eum fugit esse ut quis ipsam iure sit, velit eaque expedita adipisci corporis minus amet porro?</p>
        <footer>
          <div class="media">
       
            <div class="media_image">
             <svg class="icon icon_secondary quote_line">
               <use xlink:href="icons/sprite.svg#line"></use>
             </svg>
            </div>
            <div class="media_body">
              <h3 class="media_title quote_author"> John Smith</h3>
              <p class="quote_organisation">CEO Comapny</p>
            </div>
          </div>
        </footer>
      </blockquote>
    </div>
  </div>